@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
        var username = @UserManager.GetUserName(User);

                <li class="nav-item">
                    <a class="nav-link text-dark text_format" asp-area="" asp-controller="Home" asp-action="GetUserDetails">Profile</a> 
                </li>
                <li class="nav-item">
                    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="border-0 ps-3 nav-link text_format" style="background:none">Logout</button>
                    </form>
                </li>

}
else
{
    <li class="nav-item">
            <a class="nav-link text-dark text_format" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
            <a class="nav-link text-dark text_format" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
